  <div class="modal fade" id="delete-product-<%= product.id %>" tabindex="-1"
  aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Confirm <%= product.title %>'s deletion?
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <h6>Once deleted, the product's register cannot be recovered.</h6>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
          <%= button_to "Delete", delete_product_path(product), method: :delete,
            class:"btn btn-danger", type: "button" %>
        </div>
      </div>
    </div>
  </div>