<div class="container-sm">
  <h1>Welcome!</h1>
  Your account is now activated, you can now log in clicking in the button below
  <%= button_to "Sign In", sign_in_path, class: "btn btn-primary" %>
</div>