.cart-card {

  .card-body {
    padding: 0.6rem 1rem;
  }

  .card-container {
    padding: 0 0.5rem;
    a {
      color: white !important;
    }
  }
  .cart-product-img {
    width: 100px;
    height: auto;
  }
}